html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: pitch-sans-light, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --secondary: #9cfc75;
  --light: #eaeaea;
  --dark: #000;
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 6em;
  font-family: pitch-sans-medium;
}

h2 {
  color: var(--light);
  font-family: pitch-sans-medium;
}

h3 {
  font-size: 1.5em;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--secondary); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--secondary); /* Gecko Browsers */
}

@font-face {
  font-family: 'GT-Alpina-Bold-Trial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('GT-Alpina-Bold-Trial'), url(/fonts/GT-Alpina-Bold-Trial.woff2) format('woff2');
}

@font-face {
  font-family: 'GT-Alpina-Condensed-Bold-Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('GT-Alpina-Condensed-Bold-Italic'), url(/fonts/GT-Alpina-Condensed-Bold-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'pitch-sans-light';
  font-style: auto;
  font-weight: 400;
  font-display: swap;
  src: local('pitch-sans-light'), url(/fonts/pitch-sans-light.woff) format('woff');
}

@font-face {
  font-family: 'pitch-sans-medium';
  font-style: auto;
  font-weight: 400;
  font-display: swap;
  src: local('pitch-sans-light'), url(/fonts/pitch-sans-medium.woff) format('woff');
}
