.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {

}

.welcome {
    width:  4em;
    font-size: 6.5em;
    position: fixed;
    top: 0.5em;
    left: 6em;
    background: -webkit-linear-gradient(#4200FF, #9B6BFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.picture img {
  position:fixed;
  width: auto;
  height: 45em;
  left: -18em;
  bottom: 0;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -900;
}

@media (max-width: 600px) {
  .picture img {
    position:fixed;
    width: auto;
    height: 30em;
    left: -18em;
    bottom: 0;
  }
}
