.container {
animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.navbar {
    position: fixed;
    right: 1%;
    top: 1%;
    font-size: 1.1em;

}

.navbar ul {
 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    background: var(--secondary);
    display: inline-block;
    margin-left: 15px;
}

.navbar li:hover {
    animation: shake 75ms infinite;
    animation-timing-function: linear;
}

.intro {
    margin-left: 5vw;
}

.contact {
    margin: auto;
}

.form {
    width: 100%;
    max-width: 60vw;
    margin: auto;
}


.input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    padding: 1em 0 .8em;
    text-align: center;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.5;
    color: var(--light);
    outline: none;
}


.mail {

}

.message {
    resize: none
}

.btn {
    background: none;
    border: 0;
    box-sizing: border-box;
    padding: 1em 2em;
    box-shadow: inset 0 0 0 1px var(--light);
    color: var(--light);
    font-size: inherit;
    font-weight: 800;
    vertical-align: middle;
    position: relative;
    -webkit-transition: color 0.30s;
    transition: color 0.30s;
}
.btn::before, .btn::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.btn::before {
    top: 0;
    left: 0;
}
.btn::after {
    bottom: 0;
    right: 0;
}
.btn:hover {
    color: var(--secondary);
}
.btn:hover::before, .btn:hover::after {
    width: 100%;
    height: 100%;
}
.btn:hover::before {
    border-top-color: var(--secondary);
    border-right-color: var(--secondary);
    -webkit-transition: width 0.30s ease-out, height 0.30s ease-out 0.30s;
    transition: width 0.30s ease-out, height 0.30s ease-out 0.30s;
}
.btn:hover::after {
    border-bottom-color: var(--secondary);
    border-left-color: var(--secondary);
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.30s ease-out 0.5s, height 0.30s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.30s ease-out 0.5s, height 0.30s ease-out 0.75s;
}










/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 750px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

@keyframes shake {
    0% { transform: rotate(4deg); }
    50% { transform: rotate(-0.9deg); }
    100% { transform: rotate(1deg); }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

