
.container {
    width: 100vw;
    height: 100vh;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
    background: rgb(98,49,253);
    background: -moz-linear-gradient(162deg, rgba(98,49,253,1) 28%, rgba(0,45,228,1) 100%);
    background: -webkit-linear-gradient(162deg, rgba(98,49,253,1) 28%, rgba(0,45,228,1) 100%);
    background: linear-gradient(162deg, rgba(98,49,253,1) 28%, rgba(0,45,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6231fd",endColorstr="#002de4",GradientType=1);
}


.background {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: -100px;
    z-index: 0;
    width: 100%;
    height: 2000px;
    isolation: isolate;

      background: #ed2a24;
}

@media only screen and (max-width: 600px) {
    .background {
        top: -500px;
    }

    .dot {
        --size: 100px;
    }
}

.dot {
    --size: 700px;
    display: none;
    position: absolute;
    left: calc(var(--size) / 3 * -1);
    top: calc(var(--size) / 3 * -1);
    width: var(--size);
    height: var(--size);
    mix-blend-mode: soft-light;
    border-radius: var(--size);
    filter: blur(calc(var(--size) / 6));
    animation: dot-animation ease-in-out 20s infinite;
    will-change: transform;
}

@supports (mix-blend-mode: soft-light) and(filter: blur(1px)) {
    .background {
        background: none;
    }

    .dot {
        display: block;
    }
}

.one {
    background: #ed2a24;
}

.two {
    background: #f48937;
    animation-delay: -7s;
}

.three {
    background: #bd3690;
    animation-delay: -14s;
}

@keyframes dot-animation {
    0% {
        transform: translate(0, 0);
    }

    33% {
        transform: translate(calc(var(--size) / 1.5), 0);
    }

    66% {
        transform: translate(0, calc(var(--size) / 1.5));
    }

    100% {
        transform: translate(0, 0);
    }
}

.title {
    color: white;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 750px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

