.container {
    width: 100vw;
    height: 100vh;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
    background: #eaeaea;
}

.background {
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: -300px;
    z-index: 0;
    width: 100%;
    height: 2000px;
    isolation: isolate;
}

@media only screen and (max-width: 600px) {
    .background {
        top: -400px;
    }

    .dot {
        --size: 80px;
    }
}

.dot {
    --size: 1000px;
    display: none;
    position: absolute;
    left: calc(var(--size) / 3 * -1);
    top: calc(var(--size) / 3 * -1);
    width: var(--size);
    height: var(--size);
    mix-blend-mode: soft-light;

    filter: blur(calc(var(--size) / 6));
    animation: animation ease-in-out 17s infinite;
    will-change: transform;
}

@supports (mix-blend-mode: soft-light) and(filter: blur(1px)) {
    .background {
        background: none;
    }

    .dot {
        display: block;
    }
}

.one {
    background: #da44fc;
}

.two {
    background: #8c13f5;
    animation-delay: -5s;
}

.three {
    background: #1a4af8;
    animation-delay: -16s;
}

.intro {
}

@keyframes animation {
    0% {
        transform: translate(0, 0);
        transform: rotateZ(360deg);
    }

    33% {
        transform: translate(calc(var(--size) / 1.5), 0);
    }

    66% {
        transform: translate(0, calc(var(--size) / 1.5));
    }

    100% {
        transform: translate(0, 0);
        transform: rotateZ(360deg);
    }
}

.title {
    color: white;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 750px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

