.container {
height: 100vh;
animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
background: #eaeaea;
}

.intro {
    margin-left: 10%;
    padding-top: 10%;
}

.title {
    font-size: 6em;
    font-family: pitch-sans-medium;
}

.subtitle {
    font-size: 1.5em;
}

.thickLetter {


}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 750px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

