
.main {
  max-width: 35vw;
  position: fixed;
  top: 4em;
  left: 40%;
  padding: 0;
}

.hero {

}

.buttongroup {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 7%;
  flex-direction: row; 
  justify-content: space-between;
}


.footer {
  min-width: 35vw;
  position: fixed;
  bottom: 1em;
  left: 40%;
  padding: 0;
}


.welcome {
    font-size: 8vw;
    width: 35vw;
    margin: 0;
    background: -webkit-linear-gradient(#4200FF, #9B6BFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.picture img {
  position:fixed;
  width: auto;
  height: 80vh;
  left: -8vw;
  bottom: 0;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -900;
  animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}


.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.item {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .picture img {
    display: none;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (-width: 1200px) { 
  
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}