
.main {
  max-width: 35vw;
  position: fixed;
  top: 6em;
  left: 43%;
  padding: 0;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

.welcome {
    font-size: 8vw;
    font-weight: 600;
    width: 35vw;
    margin: 0;
    color: #fff;
    padding: 2%;
    background: rgb(98,49,253);
    background: -moz-linear-gradient(162deg, rgba(98,49,253,1) 28%, rgba(0,45,228,1) 100%);
    background: -webkit-linear-gradient(162deg, rgba(98,49,253,1) 28%, rgba(0,45,228,1) 100%);
    background: linear-gradient(162deg, rgba(98,49,253,1) 28%, rgba(0,45,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6231fd",endColorstr="#002de4",GradientType=1);
}

.picture img {
  position:fixed;
  width: auto;
  height: 80vh;
  left: -8vw;
  bottom: 0;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -900;
  animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}


.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.item {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  font-size: medium;
}

.item:hover {
  text-decoration: underline;
  color: rgb(98,49,253);
  transition: 0.2s;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .picture img {
    display: none;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
  
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

